.DS_Store
.ipynb_checkpoints/
Manifest.toml
devel
*/*.cov
*/*/*.cov
examples/.ipynb_checkpoints/
examples/*.ipynb
examples/*/*.ipynb
examples/*/*.md
examples/flt_example
examples/run_offflt
examples/llc90_latlon
examples/OCCA_climatology
examples/GRID_*
examples/nctiles_climatology
docs/src/basics
docs/src/worldwide
docs/src/notebooks
docs/joss/paper.pdf
