.DS_Store
.ipynb_checkpoints/
Manifest.toml
devel
examples/.ipynb_checkpoints/
examples/*.ipynb
examples/*/*.ipynb
examples/*/*.md
examples/flt_example
examples/run_offflt
examples/llc90_latlon
examples/GRID_LLC90
examples/nctiles_*
docs/src/basics
docs/src/worldwide
docs/src/notebooks
